<!DOCTYPE html>
<html>
  <head>
    <title>RailsProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">
  </head>

  <body>
     <section class= "container">
<%= render partial:'shared/header'%>
<div style= "width: 30%">
<%= form_with(url: search_schools_path, method: :get, local: true) do%>
<div>
    <nav class="navbar filed is-grouped mb-5">
    <%= text_field_tag(:keywords,nil,class: "input", placeholder: "Search for schools")%>
     <%= submit_tag("search", class: "button is-dark")%>
    </nav>

    <%end%>
    </div>
</div>
    <%= yield %>

    </section>

  </body>
</html>
